.env
.DS_Store
.tsbuildinfo

/dist/
/build/
/.direnv/
/coverage/
/.pnpm-store/
/node_modules/
/docs/examples/
/.devcontainer/.devpod-internal/

src/*-wireguard-go
src/*-wg-quick
src/LICENSE-*
src/*-wintun.dll
src/*.exe
src/*-bzImage
src/*-wg
src/wintun.dll
