[submodule "submodules/wireguard-go"]
	path = submodules/wireguard-go
	url = https://github.com/WireGuard/wireguard-go
[submodule "submodules/wireguard-tools"]
	path = submodules/wireguard-tools
	url = https://github.com/WireGuard/wireguard-tools
[submodule "submodules/wireguard-windows"]
	path = submodules/wireguard-windows
	url = https://github.com/WireGuard/wireguard-windows.git
[submodule "submodules/wireguard-apple"]
	path = submodules/wireguard-apple
	url = https://github.com/WireGuard/wireguard-apple.git
[submodule "submodules/osxcross"]
	path = submodules/osxcross
	url = https://github.com/tpoechtrager/osxcross.git
