name: Lab

on:
  workflow_dispatch:
    inputs:
      platform:
        type: choice
        required: true
        description: Which platform to start a lab instance on
        options:
        - e2e
        - linux
        - windows
        - windows-wsl2
        - macos-intel
        - macos-apple-silicon

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: "true"
      - uses: ./.github/actions/build

  e2e-lab:
    if: github.event.inputs.platform == 'e2e'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [build]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/e2e
      - uses: mxschmitt/action-tmate@7b6a61a73bbb9793cb80ad69b8dd8ac19261834c # v3
        if: ${{ always() }}

  linux-lab:
    if: github.event.inputs.platform == 'linux'
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    needs: [build]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/linux
      - uses: mxschmitt/action-tmate@7b6a61a73bbb9793cb80ad69b8dd8ac19261834c # v3
        if: ${{ always() }}

  macos-intel-lab:
    if: github.event.inputs.platform == 'macos-intel'
    runs-on: macos-15-intel
    timeout-minutes: 60
    needs: [build]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/mac-intel
      - uses: mxschmitt/action-tmate@7b6a61a73bbb9793cb80ad69b8dd8ac19261834c # v3
        if: ${{ always() }}

  macos-apple-silicon-lab:
    if: github.event.inputs.platform == 'macos-apple-silicon'
    runs-on: macos-14
    timeout-minutes: 60
    needs: [build]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/mac-apple-silicon
      - uses: mxschmitt/action-tmate@7b6a61a73bbb9793cb80ad69b8dd8ac19261834c # v3
        if: ${{ always() }}

  windows-lab:
    if: github.event.inputs.platform == 'windows'
    runs-on: windows-latest
    timeout-minutes: 60
    needs: [build]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/windows
      - uses: mxschmitt/action-tmate@7b6a61a73bbb9793cb80ad69b8dd8ac19261834c # v3
        if: ${{ always() }}

  windows-wsl2-lab:
    if: github.event.inputs.platform == 'windows-wsl2'
    runs-on: windows-latest
    timeout-minutes: 60
    needs: [build]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/windows-wsl2
      - uses: mxschmitt/action-tmate@7b6a61a73bbb9793cb80ad69b8dd8ac19261834c # v3
        if: ${{ always() }}
